{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
 
body {
    background-color: greenyellow;
    font-family: Arial, sans-serif;
}
 
header {
    background-color: green;
    border: 5px solid black;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 10px;
}
 
nav a {
    color: black;
    border: 4px solid black;
    border-radius: 8px;
    margin: 5px;
    padding: 5px;
    text-decoration: none;
    display: inline-block;
    white-space: nowrap;
}
 
nav a:hover {
    background-color: greenyellow;
}
 
img {
    width: 100%;
    border: 5px solid black;
    border-radius: 10px;
}
 
section {
    margin-top: 10px;
    padding: 10px;
    border: 5px solid black;
    border-radius: 15px;
    background-color: green;
}
 
p {
    border: 5px solid black;
    border-radius: 10px;
    padding: 5px;
    background-color: greenyellow;
}
 
article {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(4, 1fr);
}
 
@media (max-width: 800px) {
    article {
        grid-template-columns: repeat(2, 1fr);
    }
}
 
@media (max-width: 500px) {
    article {
        grid-template-columns: 1fr;
    }
}
 
#bekezdes_footer {
    background-color: green;
    border: 5px solid black;
    font-size: large;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
}